In [11]:
# '' - Single quotes
# "" - Double quotes
print('hello World')
print("Welcome to this Python Session")
print(5*2)

hello World
Welcome to this Python Session
10

#### Jupyter Shortcuts
1) Shift + Enter = Run a cell<br>
2) Shift + Tab = Displays function definition<br>

### Variable
1) A variable is a container which is used to store some value. The value can be of any data type<br>
2) Multiple variables can be initialized in the same line by separating them by comma<br>
3) Variables can be reinitialized, reassigned, redeclared

In [13]:
a = 15
print(a)
# a is the variable
# 1) The value of 15 is stored in the variable a
# 2) The value of 15 is assigned in the variable a
# 3) The variable a is initialized with the value of 15

15

In [16]:
p,q,r = 10,True,"hello"
print(p)
print(q)
print(r)
print(p,q)

10
True
hello
10 True

In [21]:
# Variables can be reinitialized, reassigned, redeclared
x = 7
print(x)
x = "Python"
print(x)

7
Python

#### Rules of Naming a variable

1) Start start with A-Z, a-z or underscore(_)<br>
2) Should not start with number<br>
3) Should not contain special characters<br>
4) Should not contain python keywords<br>

In [22]:
_A1 = "Python"
print(_A1)

Python

In [23]:
324wewr = "Hello"
print(324wewr)

SyntaxError: invalid syntax (<ipython-input-23-8e7ac2e5fb21>, line 1)

In [24]:
run@123 = "World"
print(run@123)

SyntaxError: cannot assign to operator (<ipython-input-24-073b3a8a5cad>, line 1)

In [26]:
w = 15.6
print(w)
type(w)

15.6

float

#### Dynamic Typing
The data type of the variable is defined at the run time

In [32]:
# int a = 10
w = 34
print(w)
type(w)

34

int

#### Data Types

In [37]:
a1 = 123456
print(a1)
type(a1)

123456

int

In [40]:
a2 = -832.34
print(a2)
type(a2)

-832.34

float

#### Strings
1) Enclosed in single, double or triple quotes<br>
2) Triple quotes are used to write multiline strings

        "" - Double Quotes
        '' - Single Quotes
        """""" - Triple quotes
        '''''' - Triple quotes

In [42]:
a3 = "Hello World"  # "" - double quotes
a4 = 'Python'       # ''  - single quotes
print(a3)
type(a4)

Hello World

str

In [44]:
a5 = "Google'
print(a5)

SyntaxError: EOL while scanning string literal (<ipython-input-44-5950ca671020>, line 1)

In [45]:
a5 = '''Russia vs. Ukraine war has affected the world stock market.
The market is hitting a new low every day.'''
print(a5)
type(a5)

Russia vs. Ukraine war has affected the world stock market.
The market is hitting a new low every day.

str

In [46]:
a5 = """Russia vs. Ukraine war has affected the world stock market.
The market is hitting a new low every day."""
print(a5)
type(a5)

Russia vs. Ukraine war has affected the world stock market.
The market is hitting a new low every day.

str

In [47]:
d1 = '''welcome to 
India'''
print(d1)

welcome to
India

In [49]:
# bool - True or False
a6 = False
print(a6)
type(a6)

False

bool

In [50]:
a7 = 5+9j
print(a7)
type(a7)
# p + qj => p is the real part, q is the imaginary part, j is square root of -1

(5+9j)

complex

In [52]:
a8 = None
print(a8)
type(a8)

None

NoneType

### Operators

#### 1) Arithmetic Operators

In [56]:
a,b = 5,2
print(a+b)
print(a-b)
print(a*b)
print(a/b)  # Normal Division - always returns floats
print(a//b) # Integer division 
print(a**b) # Power operators => a raised to power of b
print(b**a) # b raised to the power of a
print(a%b)  # Mod Operator => Returns remainder

7
3
10
2.5
2
25
32
1

#### 2) Assignment Operator

In [4]:
a,b = 5,2
print(a,b)
a =+ b     # a = a+b
print(a,b) # a=7, b=2
a += b     # a = a+b
print(a,b) # a=7, b=2

a -= b     # a = a-b  
print(a,b) # a=5, b=2
b *= a     # b= b*a
print(a,b) # a=5 , b=10
a /= b     # a= a/b
print(a,b) # a=0.5, b=10

5 2
2 2
4 2
2 2
2 4
0.5 4

#### 3) Relational or Comparison Operators - returns True or False

In [60]:
a,b = 5,2
print(a>b)
print(a>=b)
print(a<b)
print(a<=b)
print(a!=b)  # !=   => Not equal to ( a not equals to b)
print(a==b)  # ==   => Equal to  (Comparison)

True
True
False
False
True
False

#### 4) Logical Operators - returns True or False

and - returns True when both conditions are True, otherwise False 

or - returns True when either of the conditions is True, otherwise False

In [65]:
a,b,c = 10,7,15  
print(a>b and a<c)
print(a<b and c>a)
print(a>c and b>c)
print(a>b or c<a)
print(c>a or b>a)
d = False
print(not d)
# & - bitwise AND
# | - bitwsie OR

True
False
False
True
True
True

#### 5) Membership Operator(in, not in) - returns True or False
membership operators works with Strings, List and Tuples,Sets

In [66]:
a = "Russia vs. Ukraine war has affected the global economy drastically."
print('war' in a)
print("cted" in a)
print("bal eco" in a)
print("baleco" in a)
print("eco bal" in a)
print("""Ukraine""" in a)
print("when" in a)
print("has aff" not in a)
print("happen" not in a)

True
True
True
False
False
True
False
False
True

In [70]:
print("Welcome to Python")
print('Hello wordl')

Welcome to Python
Hello wordl

### print and input (Input and Output)
\n - newline character

In [69]:
print('welcome to \npython')

welcome to
python

In [72]:
w,n = 78,45
print(w,n)
print(n,w)
print('Hello')

78 45
45 78
Hello

#### parameters of print - end and sep
end - values passed in end parameter will be displayed at the end

In [9]:
a = "Hello"
b = "World"
c = "Python"
print(a,b,c)  # end ='\n'
print(a,b,c,end=" Welcome ")
print('Google')

Hello World Python
Hello World Python Welcome Google

In [12]:
print(c,a,end=" ** ")
print('Laptop')

Python Hello ** Laptop

In [79]:
print(a,b,end=" 34 ")
print(b,c)

Hello World 34 World Python

In [81]:
print(a,b,end=" 34\n")
print(b,c)

Hello World 34
World Python

#### sep - It is used to sepearate different values that are passed in the print()

In [84]:
p,q,r = "Hi","Bye","Bat"
print(p,q,r)  # Default sep used is " "  (empty space)
print(p,q,r,sep="__")
print(p,q,r,sep=" *** ")

Hi Bye Bat
Hi__Bye__Bat
Hi *** Bye *** Bat

In [13]:
p = "Google"
q = "Meta"
print(p,sep=" Python ")  # Google 
print(p,end=" Python\n")  # Google Python
print(p,q,sep=" Python ")
print(p,"\n",q)

Google
Google Python
Google Python Meta
Google
 Meta

#### input()
1) It is used to accpet user input. Accpet data at run time.<br>
2) Return type of input() is string

In [90]:
name = input("Enter your name: ")
print(name)

Enter your name: Harsh
Harsh

In [97]:
d = input()
print(d)
type(d)

45
45

str

#### Typecasting
Changing data from one data type to another data type

In [98]:
n = int(input('Enter a number '))
print(n)
type(n)

Enter a number 22
22

int

In [99]:
n = int(input('Enter a number '))
print(n)
type(n)

Enter a number Seven

ValueError: invalid literal for int() with base 10: 'Seven'

In [100]:
n = int(input('Enter a number '))
print(n)
type(n)

Enter a number 7.45

ValueError: invalid literal for int() with base 10: '7.45'

### print formatting methods

In [102]:
name = "Shreya"
age = 22
city = "Bangalore"
print(name,',whose age is',age,'lives in',city)    # comma separated method
print(f'{name} whose age is {age} lives in {city}')  # f-formatting
print(f"{age} whose age is {city} lives in {name}")  # f-formatting
print("{} whose age is {} lives in {}".format(name,age,city))  # format method

Shreya ,whose age is 22 lives in Bangalore
Shreya whose age is 22 lives in Bangalore
22 whose age is Bangalore lives in Shreya
Shreya whose age is 22 lives in Bangalore

In [ ]:
# variables
# data types
# Operators
# input()
# print()
# end and sep
# typecasting
# print formatting

In [ ]:
# if-else
# for 
# while loop