#### Jupyter Shortcuts
1) Shift + Enter = Run a cell<br>
2) Shift + Tab = Displays function definition<br>

In [1]:
# '' - Single quotes
# "" - Double quotes
print('Chirag Kaura')
print("Welcome to this Python Session")
print(5*2)

Chirag Kaura
Welcome to this Python Session
10

### Variable
1) A variable is a container which is used to store some value. The value can be of any data type<br>
2) Multiple variables can be initialized in the same line by separating them by comma<br>
3) Variables can be reinitialized, reassigned, redeclared

In [2]:
a = 15
print(a)
# a is the variable
# 1) The value of 15 is stored in the variable a
# 2) The value of 15 is assigned in the variable a
# 3) The variable a is initialized with the value of 15

15

In [3]:
p,q,r = 10,True,"hello"
print(p)
print(q)
print(r)
print(p,q)

10
True
hello
10 True

In [4]:
# Variables can be reinitialized, reassigned, redeclared
x = 7
print(x)
x = "Python"
print(x)

7
Python

#### Rules of Naming a variable

1) Start start with A-Z, a-z or underscore(_)<br>
2) Should not start with number<br>
3) Should not contain special characters<br>
4) Should not contain python keywords<br>

In [5]:
_A1 = "Python"
print(_A1)

Python

In [6]:
324wewr = "Hello"
print(324wewr)

SyntaxError: invalid decimal literal (720170139.py, line 1)

In [7]:
run@123 = "World"
print(run@123)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2493428733.py, line 1)

In [8]:
w = 15.6
print(w)
type(w)

15.6

float

#### Dynamic Typing
The data type of the variable is defined at the run time

In [9]:
# int a = 10
w = 34
print(w)
type(w)

34

int

#### Data Types

In [10]:
a1 = 123456
print(a1)
type(a1)

123456

int

In [11]:
a2 = -832.34
print(a2)
type(a2)

-832.34

float

#### Strings
1) Enclosed in single, double or triple quotes<br>
2) Triple quotes are used to write multiline strings

        "" - Double Quotes
        '' - Single Quotes
        """""" - Triple quotes
        '''''' - Triple quotes

In [12]:
a3 = "Chirag Kaura"  # "" - double quotes
a4 = 'Learning Python'       # ''  - single quotes
print(a3)
type(a4)

Chirag Kaura

str

In [13]:
a5 = "Chiru'
print(a5)

SyntaxError: unterminated string literal (detected at line 1) (2270785456.py, line 1)

In [14]:
a5 = '''Russia vs. Ukraine war has affected the world stock market.
The market is hitting a new low every day.'''
print(a5)
type(a5)

Russia vs. Ukraine war has affected the world stock market.
The market is hitting a new low every day.

str

In [15]:
a5 = """Russia vs. Ukraine war has affected the world stock market.
The market is hitting a new low every day.
Even i am having a huge no of losses"""
print(a5)
type(a5)

Russia vs. Ukraine war has affected the world stock market.
The market is hitting a new low every day.
Even i am having a huge no of losses

str

In [16]:
d1 = '''welcome to 
world of greatness'''
print(d1)

welcome to
world of greatness

In [17]:
# bool - True or False
a6 = False
print(a6)
type(a6)

False

bool

In [18]:
a7 = 5+9j
print(a7)
type(a7)
# p + qj => p is the real part, q is the imaginary part, j is square root of -1

(5+9j)

complex

In [19]:
a8 = None
print(a8)
type(a8)

None

NoneType

### Operators

#### 1) Arithmetic Operators

In [20]:
a,b = 5,2
print(a+b)
print(a-b)
print(a*b)
print(a/b)  # Normal Division - always returns floats
print(a//b) # Integer division 
print(a**b) # Power operators => a raised to power of b
print(b**a) # b raised to the power of a
print(a%b)  # Mod Operator => Returns remainder

7
3
10
2.5
2
25
32
1

#### 2) Assignment Operator

In [21]:
a,b = 5,2
print(a,b)
a += b     # a = a+b
print(a,b) # a=7, b=2
a -= b     # a = a-b  
print(a,b) # a=5, b=2
b *= a     # b= b*a
print(a,b) # a=5 , b=10
a /= b     # a= a/b
print(a,b) # a=0.5, b=10

5 2
7 2
5 2
5 10
0.5 10

#### 3) Relational or Comparison Operators - returns True or False

In [22]:
a,b = 5,2
print(a>b)
print(a>=b)
print(a<b)
print(a<=b)
print(a!=b)  # !=   => Not equal to ( a not equals to b)
print(a==b)  # ==   => Equal to  (Comparison)

True
True
False
False
True
False

#### 4) Logical Operators - returns True or False

and - returns True when both conditions are True, otherwise False 

or - returns True when either of the conditions is True, otherwise False

In [23]:
a,b,c = 10,7,15  
print(a>b and a<c)
print(a<b and c>a)
print(a>c and b>c)
print(a>b or c<a)
print(c>a or b>a)
d = False
print(not d)
# & - bitwise AND
# | - bitwsie OR

True
False
False
True
True
True

#### 5) Membership Operator(in, not in) - returns True or False
membership operators works with Strings, List and Tuples,Sets

In [24]:
a = "Russia vs. Ukraine war has affected the global economy drastically."
print('war' in a)
print("cted" in a)
print("bal eco" in a)
print("baleco" in a)
print("eco bal" in a)
print("""Ukraine""" in a)
print("when" in a)
print("has aff" not in a)
print("happen" not in a)

True
True
True
False
False
True
False
False
True

In [25]:
print("Welcome to Chiru's world")
print('Chirag Kaura')

Welcome to Chiru's world
Chirag Kaura

### print and input (Input and Output)
\n - newline character

In [26]:
print("welcome to \nChiru's world")

welcome to
Chiru's world

In [27]:
w,n = 78,45
print(w,n)
print(n,w)
print('Hello')

78 45
45 78
Hello

#### parameters of print - end and sep
end - values passed in end parameter will be displayed at the end

In [28]:
a = "Hello"
b = "Chirag"
c = "Doing Well"
print(a,b,c)                  # end ='\n'
print(a,b,c,end=" Welcome ")
print('Chiru')

Hello Chirag Doing Well
Hello Chirag Doing Well Welcome Chiru

In [29]:
print(a,c,end=" ** ")
print('Expert')

Hello Doing Well ** Expert

In [30]:
print(a,b,end=" 34 ")
print(b,c)

Hello Chirag 34 Chirag Doing Well

In [31]:
print(a,b,end=" 34\n")
print(b,c)

Hello Chirag 34
Chirag Doing Well

#### sep - It is used to sepearate different values that are passed in the print()

In [32]:
p,q,r = "Hi","Bye","You"
print(p,q,r)  # Default sep used is " "  (empty space)
print(p,q,r,sep="__")
print(p,q,r,sep=" *** ")

Hi Bye You
Hi__Bye__You
Hi *** Bye *** You

In [33]:
p = "Money"
q = "Minded"
print(p,sep=" Paisa ")  # Google 
print(p,end=" Paisa\n")  # Google Python
print(p,q,sep=" Paisa ")
print(p,q,sep="\n")

Money
Money Paisa
Money Paisa Minded
Money
Minded

#### input()
1) It is used to accpet user input. Accpet data at run time.<br>
2) Return type of input() is string

In [34]:
name = input("Enter your name: ")
print(name)

Enter your name: CHIRAG KAURA
CHIRAG KAURA

In [35]:
d = input()
print(d)
type(d)

Chiru
Chiru

str

#### Typecasting
Changing data from one data type to another data type

In [36]:
n = int(input('Enter a number '))
print(n)
type(n)

Enter a number 35
35

int

In [37]:
n = int(input('Enter a number '))
print(n)
type(n)

Enter a number 35.5

ValueError: invalid literal for int() with base 10: '35.5'

In [38]:
n = int(input('Enter a number '))
print(n)
type(n)

Enter a number two

ValueError: invalid literal for int() with base 10: 'two'

### print formatting methods

In [39]:
name = "Chirag"
age = 19
city = "Sirhind"
print(name,',whose age is',age,'lives in',city)    # comma separated method
print(f'{name} ,whose age is {age} lives in {city}')  # f-formatting
print(f"{name} ,whose age is {age} lives in {city}")  # f-formatting
print("{} ,whose age is {} lives in {}".format(name,age,city))  # format method

Chirag ,whose age is 19 lives in Sirhind
Chirag ,whose age is 19 lives in Sirhind
Chirag ,whose age is 19 lives in Sirhind
Chirag ,whose age is 19 lives in Sirhind

In [40]:
# variables
# data types
# Operators
# input()
# print()
# end and sep
# typecasting
# print formatting