In [1]:
# int, float, bool, str, None ,complex

### List
1) List are ordered collection of elements of same or different data types<br>
2) List elements are enclosed in square brackets [] and are separated by comma<br>
3) List is mutable (can be changed)<br>
4) Indexing and slicing is allowed in list(as list is ordered)<br>
5) List can store duplicate elements

#### Creating Empty List
Empty list is a list with no elements

In [2]:
w1 = []      # Method-1
w2 = list()  # Method-2
print(w1)
print(w2)

[]
[]

#### Examples of List

In [3]:
a1 = [12,13,14,23,45,56,67,14]  # all the elements are of same data type
a2 = ['Chirag','Kaura',2.45,False,None,87] # elements are of different data type
print(a1)
print(len(a1))
print(a2)
print(len(a2))
type(a2)

[12, 13, 14, 23, 45, 56, 67, 14]
8
['Chirag', 'Kaura', 2.45, False, None, 87]
6

list

#### Indexing and Slicing in List

1) Left to Right - Indexes start from 0 towards positive direction (0,1,2,3,4...)<br>
2) Right to Left - Indexes start from -1 towards negative direction (-1,-2,-3,...)

In [4]:
r = [10,15,20,25,30,35,40,45]
print(r)

[10, 15, 20, 25, 30, 35, 40, 45]

In [5]:
#### Indexing
print(r[0])
print(r[2])
print(r[6])
print(r[-1])
print(r[-3])
print(r[-5])

10
20
40
45
35
25

#### Slicing Rules

Syntax<br>
a = [10,20,30,40,50]<br>
a[start : end : step]

1) By default step size is +1

#### a) Left to Right Rules
1) Step has to be positive value<br>
2) Slicing is performed till <b>end-1</b>


#### b) Right to Left Rules
1) Step has to be negative value<br>
2) Slicing is performed till <b>end+1</b>

In [6]:
print(r)
print(r[2:5]) # start=2, end=5, step=+1    => left to right slicing
print(r[1:6]) # start=1, end=6, step=+1    => left to right slicing
print(r[1:7:2]) #  start=1, end=7, step=2  => left to right slicing
print(r[-2:-7:-1]) # start=-2, end=-7, step=-1  => Right to left slicing
print(r[-1:-7:-1]) # start=-1, end=-7, step=-1  => Right to left slicing
print(r[1:8:2])    # start = 1, end=8, step = 2 => left to right slicing

[10, 15, 20, 25, 30, 35, 40, 45]
[20, 25, 30]
[15, 20, 25, 30, 35]
[15, 25, 35]
[40, 35, 30, 25, 20]
[45, 40, 35, 30, 25, 20]
[15, 25, 35, 45]

#### Iteration in list

In [7]:
w = [12,23,34,45]
# Method 1 - Element wise Iteration
for i in w:  # i corresponds to each element of the list w
    print(i,end=" ")

12 23 34 45

In [8]:
for i in range(4):
    print(i)

0
1
2
3

In [9]:
w = [12,23,34,45]
# Method 2 - Index wise Iteration
for i in range(len(w)): # i = 0,1,2,3, i corresponds to the index of the list
    print(i)
    
# i=0,w[0]=12
# i=1,w[1]=23
# i=2,w[2]=34
# i=3,w[3]=45

0
1
2
3

In [10]:
w = [12,23,34,45]
# Method 3 - Using while loop - Index wise iteration
i=0
while i <len(w):
    print(w[i],end=' ')
    i+=1

12 23 34 45

In [11]:
w = [12,23,34,45]
# Method 3 - Using while loop - Index wise iteration
i=-1
while i <len(w)-1:
    i += 1
    print(i,w[i])

0 12
1 23
2 34
3 45

#### List is Mutable (It can be changed)

In [12]:
q = [13,15,17,19,21,24,25]
print(q)
print(q[4])
q[4] = "Python"
print(q)

[13, 15, 17, 19, 21, 24, 25]
21
[13, 15, 17, 19, 'Python', 24, 25]

### Functions or Methods of List

#### 1) append()
It adds an element to the end of the list

In [13]:
s = ['Python',8,5,7]
print(s)
s.append(None)
print(s)
s.append(7.3)
print(s)

['Python', 8, 5, 7]
['Python', 8, 5, 7, None]
['Python', 8, 5, 7, None, 7.3]

In [14]:
s.append([11,12])
print(s)
print(len(s))

['Python', 8, 5, 7, None, 7.3, [11, 12]]
7

In [15]:
s.append('Hello')
print(s)

['Python', 8, 5, 7, None, 7.3, [11, 12], 'Hello']

In [16]:
w = [11,12,13]
print(w)
w.append((7,8))   # Append a tuple -> ()
print(w)
w.append({21,22}) # Appending a set -> {}
print(w)
w.append({'Name':'Chirag','Age':19,'City':'Sirhind'}) # appending a dict > {key:value}
print(w)

[11, 12, 13]
[11, 12, 13, (7, 8)]
[11, 12, 13, (7, 8), {21, 22}]
[11, 12, 13, (7, 8), {21, 22}, {'Name': 'Chirag', 'Age': 19, 'City': 'Sirhind'}]

#### 2) insert(index,element)
Inserts an element at a specified index.<br>
Elements previously present at that index are shifted one index towards right

In [17]:
a1 = [13,14,15,16,17,18,19]
print(a1)
a1.insert(3,'Hello')
print(a1)
a1.insert(7,'Python')
print(a1)

[13, 14, 15, 16, 17, 18, 19]
[13, 14, 15, 'Hello', 16, 17, 18, 19]
[13, 14, 15, 'Hello', 16, 17, 18, 'Python', 19]

#### 3) index()
Returns the index of the first occurence of the element from the left.
Indexes start at 0

In [18]:
a2 = ['Hi','Bye','Hello','Python','C++','Java','Hello','C++','Ruby']
print(a2.index('Hello'))
print(a2.index('C++'))
print(a2.index('Bye'))
print(a2.index('Hello',3))

2
4
1
6

#### 4) pop(index)
Removes the element at the specified index. If no index is mentioned, it removes the last element

In [19]:
a = [23,34,45,56,67,78,90,15,10]
print(a)
a.pop(2) # Remove element present at index 2 
print(a)
a.pop(7) # Remove element present at index 7
print(a)
a.pop() # Removes the last element
print(a)
a.pop(13)
print(a)

[23, 34, 45, 56, 67, 78, 90, 15, 10]
[23, 34, 56, 67, 78, 90, 15, 10]
[23, 34, 56, 67, 78, 90, 15]
[23, 34, 56, 67, 78, 90]

IndexError: pop index out of range

#### 5) remove(element)
It removes the first occurence of the element from left which is passed as argument. Error if element is not in the list

In [20]:
a = [23,34,45,56,67,78,90,15,10,34,78,56]
print(a)
a.remove(56) # Remove the element 56
print(a)
a.remove(90)
print(a)
a.remove(108) #  Value Error
print(a)
a.remove()   # Type Error
print(a)

[23, 34, 45, 56, 67, 78, 90, 15, 10, 34, 78, 56]
[23, 34, 45, 67, 78, 90, 15, 10, 34, 78, 56]
[23, 34, 45, 67, 78, 15, 10, 34, 78, 56]

ValueError: list.remove(x): x not in list

#### 6) count()
Returns the count(frequency) of the element passed as an argument

In [21]:
w = [23,34,45,23,13,24,35,56,67,45,34,23,23,67,78,89,90]
print(w.count(34))
print(w.count(23))
print(w.count('Hello'))
print(w.count(13))
print(w.count(78))

2
4
0
1
1

In [22]:
for i in range(len(w)):
    print(w[i],w.count(w[i]))

23 4
34 2
45 2
23 4
13 1
24 1
35 1
56 1
67 2
45 2
34 2
23 4
23 4
67 2
78 1
89 1
90 1

#### 7) sort()
Sorts the list in ascending or descening order based on the parameter reverse

In [23]:
s = [12,7,16,34,89,74,56]
print(s)
s.sort()             # ascending order
print(s)
s.sort(reverse=True) # descending order
print(s)

[12, 7, 16, 34, 89, 74, 56]
[7, 12, 16, 34, 56, 74, 89]
[89, 74, 56, 34, 16, 12, 7]

In [24]:
# Range for ASCII numbers
# ASCII - AMerican Standard Code for Information Interchange
# A-Z = 65-90
# a-z = 97-122

In [25]:
r = ['Hello','Welcome','Game','Japan']  
print(r)
r.sort()   # G<H<J<W
print(r)
r.sort(reverse=True)
print(r)

['Hello', 'Welcome', 'Game', 'Japan']
['Game', 'Hello', 'Japan', 'Welcome']
['Welcome', 'Japan', 'Hello', 'Game']

In [26]:
f = ['batman','Spiderman','superman','Ironman']
print(f)
f.sort()
print(f)
f.sort(reverse=True)
print(f)

['batman', 'Spiderman', 'superman', 'Ironman']
['Ironman', 'Spiderman', 'batman', 'superman']
['superman', 'batman', 'Spiderman', 'Ironman']

#### Methods min,max and sum

In [27]:
h = [12,13,15,25,10,40]
print(min(h))
print(max(h))
print(sum(h))

10
40
115

#### Q) Create a list of elements by populating it with all the numbers divisilbe by 7 from 10 to 100

In [28]:
res = []
for i in range(10,101): # i=10,11,....100
    if i%7==0:
        res.append(i)
print(res)

[14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [29]:
# Incorrect approach
res = []
for i in range(10,101,7):
    res.append(i)
print(res)

[10, 17, 24, 31, 38, 45, 52, 59, 66, 73, 80, 87, 94]

#### Q) Create a list of elements by populating it with all the numbers divisilbe by 5 or 7 from 200 to 250

In [30]:
r = []
for i in range(200,251):
    if i%5==0 or i%7==0:
        r.append(i)
print(r)

[200, 203, 205, 210, 215, 217, 220, 224, 225, 230, 231, 235, 238, 240, 245, 250]

In [31]:
r = [10,20,30,40,50,60,70,80,90,100]
r1,r2 = r[:5], r[5:]
print(r1)
print(r2)

[10, 20, 30, 40, 50]
[60, 70, 80, 90, 100]

#### List Comprehension
It is one-liner syntax to create a list

In [32]:
t = []
for i in range(10,15):
    t.append(i*2)
print(t)

[20, 22, 24, 26, 28]

In [33]:
t_new = [i*2 for i in range(10,15)]
print(t_new)

[20, 22, 24, 26, 28]

In [34]:
# List Comprehension with condition
r1 = [i for i in range(10,21) if i%2==0]
print(r1)

[10, 12, 14, 16, 18, 20]

In [35]:
g = []
for i in range(2,5):        # i = 2,3,4
    for j in range(5,15,5): # j = 5,10 
        g.append(i*j)
print(g)
# i=2,j=5 , 10
# i=2,j=10, 20
# i=3,j=5 , 15
# i=3,j=10, 30
# i=4,j=5 , 20
# i=4,j=10, 40

[10, 20, 15, 30, 20, 40]

In [36]:
g_new = [i*j for i in range(2,5) for j in range(5,15,5)]
print(g_new)

[10, 20, 15, 30, 20, 40]

In [37]:
g_new2 = [i*j for i in range(2,5) for j in range(5,15,5) if (i+j)%2!=0]
print(g_new2)
# i=2,j=5,  10
# i=3,j=10, 30
# i=4,j=5,  20

[10, 30, 20]