### Set
1) It is unordered collection of elements of same or different data types<br>
2) Set elements are represented in {} and are separated by comma<br>
3) Set does not support indexing or slicing (as it is unordered)<br>
4) Set does not allow duplicate elements<br>
5) Set is mutable(it can be changed)

#### Empty Set

In [1]:
s1 = set()
print(s1)
print(type(s1))

set()
<class 'set'>

In [2]:
s2 = {}
print(s2,type(s2))

{} <class 'dict'>

In [3]:
q1 = {12,13,14,15}
q2 = {'India','Japan','Australia',45,56,67,7.8,None,True}
print(q1,len(q1))
print(q2,len(q2))

{12, 13, 14, 15} 4
{'India', True, 67, 7.8, 45, 'Japan', 'Australia', 56, None} 9

#### Indexing and Slicing not allowed

In [4]:
z1 = {10,11,23,34,45,56}
print(z1[0])

TypeError: 'set' object is not subscriptable

In [5]:
print(z1[2:5])

TypeError: 'set' object is not subscriptable

#### Iteration in Sets

In [6]:
z1 = {10,11,23,34,45,56}
for i in z1: # i corresponds to each and every element of the set z1
    print(i)

34
23
56
10
11
45

In [7]:
z1 = {10,11,23,34,45,56}
for i in range(len(z1)):
    print(z1[i])

TypeError: 'set' object is not subscriptable

In [8]:
z1 = {10,11,23,34,45,56}
i=0
while i< len(z1):
    print(z1[i])
    i += 1

TypeError: 'set' object is not subscriptable

#### Duplicates are not allowed in Sets

In [9]:
d1 = {5,4,6,7,3,2,4,5,6,4,3,3}
print(d1)
print(len(d1))

{2, 3, 4, 5, 6, 7}
6

### Set methods

#### 1) union()
Perform union of Sets,Works for multiple sets as well and arrange the set in ascending order

In [10]:
s1 = {5,6,7,8,9}
s2 = {1,3,5,7,10}
s3 = {11,0,12}
s4 = s1.union(s2)
print(s4)
print(s1.union(s2,s3))

{1, 3, 5, 6, 7, 8, 9, 10}
{0, 1, 3, 5, 6, 7, 8, 9, 10, 11, 12}

#### 2) intersection()
Perform intersection of Sets, Works for multiple sets as well.<br>
Returns common element from the sets used

In [11]:
s1 = {5,6,7,8,9}
s2 = {1,3,5,7,10}
s3 = {11,0,12,5}
print(s1.intersection(s2))
print(s1.intersection(s2,s3))

{5, 7}
{5}

#### 3) difference()
s1.difference(s2) => Returns the elements of s1 which are not present in s2.<br>
Can be applied on multiple sets at a time

In [12]:
s1 = {5,6,7,8,9}
s2 = {1,3,5,7,10}
s3 = {11,0,12,5}
print(s1.difference(s2))
print(s2.difference(s3))
print(s2.difference(s1,s3))
print(s1.difference(s1))

{8, 9, 6}
{1, 10, 3, 7}
{1, 10, 3}
set()

#### 4) Symmetric difference
s1.symmetric_difference(s2) => Difference operation between union and intersection.<br>
Can take only 1 set as its argument

In [13]:
s1 = {5,6,7,8,9}
s2 = {1,3,5,7,10}
s3 = {11,0,12,5}
s4 = s1.union(s2)
s5 = s1.intersection(s2)
s6 = s1.symmetric_difference(s2)
print('Union',s4)
print('Intersection',s5)
print('----------')
print(s4.difference(s5))
print(s6)

Union {1, 3, 5, 6, 7, 8, 9, 10}
Intersection {5, 7}
----------
{1, 3, 6, 8, 9, 10}
{1, 3, 6, 8, 9, 10}

In [14]:
s1 = {5,6,7,8,9}
s2 = {1,3,5,7,10}
s3 = {11,0,12,5}
res = s1.symmetric_difference(s2,s3)#taken 2 arguments at a time
print(res)

TypeError: set.symmetric_difference() takes exactly one argument (2 given)

#### 5) update()
It also performs union of sets. But the set on which update operation has been performed is updated with the union of sets. Works with multiple sets as well

In [15]:
s1 = {5,6,7,8,9}
s2 = {1,3,5,7,10}
s3 = {11,0,12,5}
print(s1)
print(s2)
print(s3)
s1.update(s2) # s1 has been updated with the union of s1 and s2
print(s1)  # s1 is updated
print(s2)  # s2 is not updated
print(s3)  # s3 is not updated

{5, 6, 7, 8, 9}
{1, 3, 5, 7, 10}
{0, 11, 12, 5}
{1, 3, 5, 6, 7, 8, 9, 10}
{1, 3, 5, 7, 10}
{0, 11, 12, 5}

In [16]:
s2.update(s1,s3)
print(s2)

{0, 1, 3, 5, 6, 7, 8, 9, 10, 11, 12}

#### 6) pop()
Remove and return an arbitrary(random) set element.

In [17]:
s1 = {5,"Google",7,None,9,'Hello','Python',True,10,12}
print(s1)
s1.pop()  # True
print(s1)
print(s1.pop())  # Google
print(s1)
s1.pop()  # 5
print(s1)  
s1.pop()  # "Hello" 
print(s1)

{True, 5, 7, 9, 10, 12, 'Python', 'Google', 'Hello', None}
{5, 7, 9, 10, 12, 'Python', 'Google', 'Hello', None}
5
{7, 9, 10, 12, 'Python', 'Google', 'Hello', None}
{9, 10, 12, 'Python', 'Google', 'Hello', None}
{10, 12, 'Python', 'Google', 'Hello', None}

#### 7) add()
It adds an element to the set

In [18]:
s1 = {23,45,56,'India','Python',False,89,90,91}
print(s1)
s1.add('Messi')
print(s1)
s1.add('Neymar')
print(s1)
s1.add(100)
print(s1)
s1.add(56.34)
print(s1)
s1.add(56)  # No Error when duplicate element is added
print(s1)
# Set is mutable

{False, 'India', 45, 'Python', 23, 56, 89, 90, 91}
{False, 'India', 'Messi', 45, 'Python', 23, 56, 89, 90, 91}
{False, 'India', 'Messi', 45, 'Python', 23, 56, 89, 90, 91, 'Neymar'}
{False, 'India', 100, 'Messi', 45, 'Python', 23, 56, 89, 90, 91, 'Neymar'}
{False, 'India', 56.34, 100, 'Messi', 45, 'Python', 23, 56, 89, 90, 91, 'Neymar'}
{False, 'India', 56.34, 100, 'Messi', 45, 'Python', 23, 56, 89, 90, 91, 'Neymar'}

#### 8) clear()
Empties the set

In [19]:
s1 = {15,16,17,18}
print(s1)
s1.clear()
print(s1)

{16, 17, 18, 15}
set()

#### 9) remove(element)
used to remove an element from the set passed as an argument

In [20]:
s1 = {10,20,30,40,50}
print(s1)
s1.remove(30)
print(s1)
s1.remove(20)
print(s1)
s1.remove('Python')
print(s1)

{50, 20, 40, 10, 30}
{50, 20, 40, 10}
{50, 40, 10}

KeyError: 'Python'

#### Min, max and sum on set

In [21]:
s1 = {10,30,15,46,23}
print(min(s1))
print(max(s1))
print(sum(s1))

10
46
124

In [22]:
print(max(34,45,23,67,42))

67

In [23]:
print(sum('hello','bye'))

TypeError: sum() can't sum strings [use ''.join(seq) instead]

#### Set Comprehension
Short hand synatx to create a set

In [24]:
r = {i for i in range(1,17,2)}
print(r)

{1, 3, 5, 7, 9, 11, 13, 15}

In [25]:
r1 = {i for i in range(1,17,2) if i%3==0}
print(r1)

{9, 3, 15}