### Functions
1) Functions facilitate resuability of code.<br>
2) They prevent code repetition<br>
3) They make the code modular<br>


#### Types of Functions
1) Built-in Function - print(),input(),len(),type(), list().append()<br>

2) User Defined Functions<br>
They are created by user/developers to solve a probelem statement

### User Defined Functions

They consist of two parts<br>
1) Function definition<br>
2) Function calling - Functions are called using function name

### Non-Parameterised Functions

#### Write a function to print sum of two numbers

In [1]:
# Function Definition
def sum_2_no():
    n1 = int(input('Enter 1st number: '))
    n2 = int(input('Enter 2nd number: '))
    print(f'Sum of {n1} and {n2} is {n1+n2}')

In [2]:
# Function calling
sum_2_no()

Enter 1st number: 31
Enter 2nd number: 43
Sum of 31 and 43 is 74

In [3]:
sum_2_no()

Enter 1st number: 34
Enter 2nd number: 23
Sum of 34 and 23 is 57

#### WAF to print area of circle using its radius as user input

In [4]:
# Function definition
pi = 3.14
def area_circle():
    r = int(input('Enter radius: '))
    area = pi*r*r
    print(f'Area of circle with radius {r} is {area} sq units')

In [5]:
# Function calling
area_circle()

Enter radius: 5
Area of circle with radius 5 is 78.5 sq units

#### WAF to print the diagonal and perimter of rectangle given length and area as user inputs

In [6]:
def diag_peri():
    l = int(input('Enter length of reactangle: '))
    area = int(input('Enter area of reactangle: '))
    b = area/l
    print('Breadth of rect turn out to be',b)
    diag = (l**2 + b**2)**(0.5)
    perim = 2*(l + b)
    print(f'Diagnoal of rect is {diag} and perimter is {perim}')

In [7]:
diag_peri()

Enter length of reactangle: 4
Enter area of reactangle: 64
Breadth of rect turn out to be 16.0
Diagnoal of rect is 16.492422502470642 and perimter is 40.0

#### WAF to compute speed given distance and time as user inputs

In [8]:
def compute_speed():
    dis = int(input('Enter distance in km: '))
    time = int(input('Enter time in hrs: '))
    speed = dis/time
    print(f'Speed is {speed} km/h')

In [9]:
compute_speed()

Enter distance in km: 18
Enter time in hrs: 5
Speed is 3.6 km/h

### Parameterised Functions

In [10]:
# a and b are the parameters of the function
def prod_2_no(a,b):
    prod = a*b
    print(f'Prod of {a} and {b} is {prod}')
    
prod_2_no(5,7)       # a=5,b=7
prod_2_no(4,8)       # a=4,b=8
prod_2_no(a=3,b=9)   # a=3,b=9
prod_2_no(b=6,a=2)   # a=2,b=6
prod_2_no(7)         # a=7

Prod of 5 and 7 is 35
Prod of 4 and 8 is 32
Prod of 3 and 9 is 27
Prod of 2 and 6 is 12

TypeError: prod_2_no() missing 1 required positional argument: 'b'

In [11]:
prod_2_no('A',"b")

TypeError: can't multiply sequence by non-int of type 'str'

In [12]:
m,n=10,3
prod_2_no(n,m) # the value of n is considered as a, the value of m is considered as b
prod_2_no(m,n)

Prod of 3 and 10 is 30
Prod of 10 and 3 is 30

In [13]:
prod_2_no(7.3,4)

Prod of 7.3 and 4 is 29.2

#### WAF to check if a given number is even or odd

In [14]:
def even_odd(n):
    if n%2==0:
        print(f'{n} is even')
    else:
        print(n,'is odd')
        
even_odd(58)
even_odd(37)

58 is even
37 is odd

#### WAF to check to split the number

In [15]:
date = "2019-06-22"
res = date.split('-')
print(res)
print(res[0])
print(res[1])
print(res[0][0])

['2019', '06', '22']
2019
06
2

#### WAF to accpet full name(first name and last name) from the user. The function should return the initials of the name
Sample Input:   Abhijeet Trivedi<br>
Smaple Output:  AT

In [16]:
def return_initials(name):
    r = name.split()  # split() will split the name based on empty space
    print(r)
    # r is a list
    for i in range(len(r)):  # i=0,1
        print(r[i][0].upper(),end="")
        
return_initials('Virat Kohli')  # r =['Virat','Kohli']

['Virat', 'Kohli']
VK

In [17]:
return_initials('elon musk')

['elon', 'musk']
EM

In [18]:
s = "Messi is light years ahead of Ronaldo"
print(s.split())    # splitting on empty space
print(s.split('i'))

['Messi', 'is', 'light', 'years', 'ahead', 'of', 'Ronaldo']
['Mess', ' ', 's l', 'ght years ahead of Ronaldo']

#### WAF to the print the table of a number(from 1 to 10) provided  the number as argument

In [19]:
def tablen(n):
    for i in range(1,11):
        print(f'{n} * {i} = {n*i}')
        
tablen(10)

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [20]:
tablen(23)

23 * 1 = 23
23 * 2 = 46
23 * 3 = 69
23 * 4 = 92
23 * 5 = 115
23 * 6 = 138
23 * 7 = 161
23 * 8 = 184
23 * 9 = 207
23 * 10 = 230

#### WAF to compute SI and Amount given P,R and T as its argument

In [21]:
def compute_SI_Amt(p,r,t):
    si = (p*r*t)/100
    amt = p + si
    print(f'SI is {si} when P={p}, R={r}% and T={t} yrs')
    print(f'Amount recieved after {t} yrs is {amt}')

In [22]:
compute_SI_Amt(1000,4,5)

SI is 200.0 when P=1000, R=4% and T=5 yrs
Amount recieved after 5 yrs is 1200.0

#### Positional Arguments and Default arguments

Default arguments - parameters initailzed by default values in the function definition. They are used when the corresponding argument is not passed while function is called

In [23]:
def f1(a,b=3):
    print(a+b)
    
f1(4,5) # a=4,b=5
f1(8)   # a=8, b=3

9
11

In [24]:
def f2(a=2,b=3,c=5,d=4):
    r = (a+b) *(c-d)
    print(r)
    
f2(10,12,15,5) # a=10,b=12,c=15,d=5
f2(7,8,6)      # a=7,b=8,c=6,d=4
f2(7,8)        # a=7,b=8,c=5,d=4
f2(20)         # a=20, b=3,c=5,d=4
f2()

220
30
15
23
5

In [25]:
def f3(a,b,c=7,d=5):
    r = a+b+c+d
    print(r)

f3(10,3)  # a=10,b=3,c=7,d=5
f3(b=10,a=5)

25
27

In [26]:
def f4(a=10,b):
    r = a*b
    print(r)
    
f4(12,5)

SyntaxError: non-default argument follows default argument (3982153985.py, line 1)

In [27]:
def f4(b,a=10):
    r = a*b
    print(r)
    
f4(8,4)
f4(6)

32
60

#### While defining the functions with arguments
1) Postional arguments have be defined first(in left to right order) and then followed by default arguments.

### return keyword
1) return is only used inside functions<br>
2) return has to be the last statement in a function<br>
3) return can be used only once in a function(excluding the if-elif-else condition)<br>
4) if multiple return statements are used, only the first one is the valid statement<br>
5) return cannot be used to generate a sequence<br>
6) Any code written below the return keyword will not get executed<br>

In [28]:
def gen_fullname(fn,ln):
    fullname = fn + "_" + ln
    return fullname

res = gen_fullname('Ankit','Chaturvedi')
print(res)

Ankit_Chaturvedi

In [29]:
gen_fullname('Shreya','Singh')

'Shreya_Singh'

In [30]:
def f5(a,b,c):
    return (a*b)-c

r = f5(8,5,3)
print(r)

37

In [31]:
def f6(a,b):
    s = a+b
    p = a*b
    return s,p

x,y = f6(5,7)
print(x,y)

12 35

#### If multiple return statements are used, only the first return statement is considered valid return

In [32]:
def f5(a,b,c):
    return (a*b)-c
    return 'Hello'

r = f5(8,5,3)
print(r)

37

#### Return cannot generate a sequence

In [33]:
def f6():
    for i in range(5,10):
        print(i,end =" ")

f6()

5 6 7 8 9

In [34]:
def f7():
    for i in range(7,10):
        return i

r = f7()
print(r)

7

In [35]:
w = 10
w

10

In [36]:
def f8():
    print('Learning Python')
    return "Hello World"
    

r = f8()
print(r)

Learning Python
Hello World