#### Python Inbuilt Functions
1) Lambda<br>
2) map<br>
3) reduce<br>
4) filter<br>
5) enumerate<br>
6) zip<br>
7) sorted

#### 1) lambda 
1) It is used to create anonymous function( a function with no name)<br>
2) It is used to create one-liner functions<br>
Syntax:<br>
lambda parameters : expressions

In [1]:
r = lambda x,y : x+y
print(r(3,4)) # x=3,y=4
print(r(6,7)) # x=6,y=7
print(r(10,13)) # x=10,y=13

7
13
23

In [2]:
t = lambda a,b,c : (a+b)**c
print(t(3,4,2)) # a=3,b=4,c=2
print(t(5,6,3)) # a=5,b=6,c=3

49
1331

In [3]:
print(type(5))
r = "A" +" "+"B"
print(r)

<class 'int'>
A B

In [4]:
w = lambda p,q : p+q
print(w(10,3)) # 13
print(type(w(4,5)))   # int
print(type(w(3.6,5.2))) # float
print(type(w('Python',' Java'))) # str
print(type(w))  # function  
print(w('Python','Java'))

13
<class 'int'>
<class 'float'>
<class 'str'>
<class 'function'>
PythonJava

In [5]:
#### Find initials of the name
# fn - first name, ln - last name
w = lambda fn,ln : fn[0].upper()+"."+ln[0].upper()
print(w('elon','musk'))
print(w('Benedict','Cumberbatch'))

E.M
B.C

#### if-else inside lambda

In [6]:
d = lambda x,y : x*y-5 if (x%3==0 and y%5!=0) else y*10 - x
print(d(6,7))
print(d(12,10)) # x=12,y=10, 10*10 -12

37
88

In [7]:
d1 = lambda x,y : x*y-5 if (x%3==0 and y%5!=0) else (y*10 - x if (x%3!=0 and y%5==0) else x*10 -y)
print(d1(7,15))  # y*10-x = 15*10-7= 143
print(d1(9,8))   # x*y-5 = 9*8 -5 = 67
print(d1(8,14))  # x*y - 10 = 8*10 -14 = 66

143
67
66

In [8]:
r = [i for i in range(len(x))]

NameError: name 'x' is not defined

In [9]:
d2 = lambda x : [i for i in range(x)]
print(d2(5))

[0, 1, 2, 3, 4]

#### 2) map()
1) map() calls the specified function for each item of an iterable(list,string,tuple,dict etc)
and returns a sequence of results.<br>
2) lambda can be used inside map

Syntax : map(function,iterable)

In [10]:
def square(x):
    return x*x

w = [1,2,3,4]
d = list(map(square,w))
print(d)

[1, 4, 9, 16]

In [11]:
r = [10,12,14,16,18]
d1 = list(map(lambda x : x**2,r))
print(d1)
d2 = list(map(lambda x : x*3+1 if x%4==0 else x*5-2,r))
print(d2) # [48,37,68,49,88]

[100, 144, 196, 256, 324]
[48, 37, 68, 49, 88]

#### Q) Accpet a list of integers from the user using map function

In [12]:
name = input().split(' ')
print(name)

Chirag Kaura
['Chirag', 'Kaura']

In [13]:
d2 = list(map(int,input('Enter space seperated numbers: ').split()))
print(d2)

Enter space seperated numbers: 1 2 3 4 5
[1, 2, 3, 4, 5]

In [14]:
d2 = tuple(map(int,input('Enter space seperated numbers: ').split()))
print(d2)

Enter space seperated numbers: 1 2 3 4 5
(1, 2, 3, 4, 5)

#### 3) filter()
Returns an iterator yielding those items from the iterable for which the function is True

Syntax : filter(function,iterable)

In [15]:
g = [12,13,14,15,16,17,18,19,20]
s1 = list(filter(lambda x : x%2==0,g))
print(s1)

[12, 14, 16, 18, 20]

In [16]:
g = [12,23,14,15,16,17,18,19,20]
s2 = list(filter(lambda x : x>17,g))
print(s2)
s3 = list(filter(lambda x : x<40,g))
print(s3)
s4 = list(filter(lambda x : x,g))
print(s4)

[23, 18, 19, 20]
[12, 23, 14, 15, 16, 17, 18, 19, 20]
[12, 23, 14, 15, 16, 17, 18, 19, 20]

In [17]:
def filter_odd(n):
    return n%2!=0

g = [12,23,14,15,16,17,18,19,20]
s2 = list(filter(filter_odd,g))
print(s2)

[23, 15, 17, 19]

#### Map vs Filter

1) The length of iterable obtained from map is always of the same length as that of original iterator onto which the map function has been applied<br>
The length of iterable obtained from filter can be of the same length or less as that of original iterator onto which the filter function has been applied.

2) The filter operates only on those element of the iterable onto which the function returns True,
whereas map operators on all the elements based on the function passed as an argument.

#### 4) reduce()
Reduce function reduces the iterable to a single value using the function passed as argument<br>
The function passed has to contain 2 parameters<br>

syntax : reduce(function,iterator)

In [18]:
from functools import reduce

In [19]:
b = [1,2,3,4,5]
t = reduce(lambda x,y : x+y,b)
print(t)

# S1 -> x=1,y=2 => x+y=3
# S2 -> x=3,y=3 => x+y=6
# S3 -> x=6,y=4 => x+y=10
# S4 -> x=10,y=5 => x+y=15

15

#### 5) enumerate()
1) It adds an extra counter to the iterables(strings, list,tuple,set,dict,range())<br>
2) Counter element generated starts from zero.<br>
3) Counter added to the list and tuple can be used as their index<br>
4) Counter added to set should not be considered as index

In [20]:
d = [10,20,30,40,50]
for i,j in enumerate(d): # i is the extra counter generated, j is the list element
    print(i,j,d[i])

0 10 10
1 20 20
2 30 30
3 40 40
4 50 50

In [21]:
d = (11,12,13,14,15)
for x,y in enumerate(d): # x is the extra counter generated, y is the tuple elements
    print(x,y,d[x])

0 11 11
1 12 12
2 13 13
3 14 14
4 15 15

In [22]:
d = (11,12,13,14,15)
for x,y in enumerate(d,start=2): # x is the extra counter generated, y is the tuple elements
    print(x,y)
    enumerate

2 11
3 12
4 13
5 14
6 15

In [23]:
s = {11,12,13,14,15}
for i in range(len(s)):
    print(s[i])  #not in order

TypeError: 'set' object is not subscriptable

In [24]:
s = {11,9,13,10,8}
for x,y in enumerate(s): # x is the extra counter generated, y is the set elements
    print(x,y)

0 8
1 9
2 10
3 11
4 13

In [25]:
d = {'a1':10,'a2':25,'a3':20,'a4':15}
for i,j in enumerate(d): # i is the counter element generated,j keys
    print(i,j,d[j],d.get(j))

0 a1 10 10
1 a2 25 25
2 a3 20 20
3 a4 15 15

In [26]:
d = {'a1':10,'a2':25,'a3':20,'a4':15}
for i,j in enumerate(d.values()): # i is the counter element generated and j represent values
    print(i,j)

0 10
1 25
2 20
3 15

In [27]:
d = {'a1':10,'a2':25,'a3':20,'a4':15}
for i,j in enumerate(d.items()): # i is the counter element generated and j represents the items(key,value) in dictionary
    print(i,j)

0 ('a1', 10)
1 ('a2', 25)
2 ('a3', 20)
3 ('a4', 15)

#### 6) zip()
1) It aggregates (two or more) elements into tuple pairs except dict

In [28]:
d1 = ['a','b','c','d','e']  # len(d1) = 5
d2 = [3,4,5,6,7]            # len(d2) = 5

r1 = list(zip(d1,d2))     # list of tuples [('a',3),('b',4),...]
r2 = tuple(zip(d1,d2))    # tuple of tuples
r3 = set(zip(d1,d2))      # set of tuples
r4 = dict(zip(d1,d2))     # pairs are aggregated as key-value
print(r1)
print(r2)
print(r3)
print(r4)

[('a', 3), ('b', 4), ('c', 5), ('d', 6), ('e', 7)]
(('a', 3), ('b', 4), ('c', 5), ('d', 6), ('e', 7))
{('d', 6), ('b', 4), ('c', 5), ('e', 7), ('a', 3)}
{'a': 3, 'b': 4, 'c': 5, 'd': 6, 'e': 7}

In [29]:
d1 = ['a','b','c','d','e']  # len(d1)=5
d2 = [3,4,5]                # len(d2)=3

r1 = list(zip(d1,d2))
r2 = tuple(zip(d1,d2))
r3 = set(zip(d1,d2))
r4 = dict(zip(d1,d2))  # pairs are aggregated as key-value
print(r1)
print(r2)
print(r3)
print(r4)

[('a', 3), ('b', 4), ('c', 5)]
(('a', 3), ('b', 4), ('c', 5))
{('a', 3), ('c', 5), ('b', 4)}
{'a': 3, 'b': 4, 'c': 5}

In [30]:
a1 = ['Hi','Bye','Hello','Game']
a2 = [5,10,15,20,25,30]
a3 = ['p','q','r','s','t']

w1 = list(zip(a1,a2,a3))
w2 = tuple(zip(a1,a2,a3))
w3 = set(zip(a1,a2,a3))
print(w1)
print(w2)
print(w3)

[('Hi', 5, 'p'), ('Bye', 10, 'q'), ('Hello', 15, 'r'), ('Game', 20, 's')]
(('Hi', 5, 'p'), ('Bye', 10, 'q'), ('Hello', 15, 'r'), ('Game', 20, 's'))
{('Hi', 5, 'p'), ('Bye', 10, 'q'), ('Game', 20, 's'), ('Hello', 15, 'r')}

In [31]:
w4 = dict(zip(a1,a2,a3))
print(w4)

ValueError: dictionary update sequence element #0 has length 3; 2 is required

#### 7) sorted()
1) Sort the elements passed as agrument.<br>
2) Sorted functions returns a list.

In [32]:
w = [12,14,10,9,15,13]
r1 = sorted(w)               # ascending order
r2=  sorted(w,reverse=True)  # descending order
print(r1)
print(r2)

[9, 10, 12, 13, 14, 15]
[15, 14, 13, 12, 10, 9]

In [33]:
d = {'a1':10,'a3':8,'a2':15,'a4':25}
d1 = sorted(d.keys())
d2 = sorted(d.keys(),reverse=True)
d3 = sorted(d.values())
d4 = sorted(d.values(),reverse=True)
d5  = sorted(d.items())  # working on keys ,x[0]
d6  = sorted(d.items(),key=lambda x : x[1]) # sorting on values
d7  = sorted(d.items(),key=lambda x : x[1],reverse=True) # sorting (descending) on values
print(d1)
print(d2)
print(d3)
print(d4)
print(d5)
print(d6)
print(d7)

['a1', 'a2', 'a3', 'a4']
['a4', 'a3', 'a2', 'a1']
[8, 10, 15, 25]
[25, 15, 10, 8]
[('a1', 10), ('a2', 15), ('a3', 8), ('a4', 25)]
[('a3', 8), ('a1', 10), ('a2', 15), ('a4', 25)]
[('a4', 25), ('a2', 15), ('a1', 10), ('a3', 8)]

In [34]:
d = {'k1':3,'k2':5}
r = list(d.items())
print(r)
w = r[0]
print(w,w[0],w[1])

[('k1', 3), ('k2', 5)]
('k1', 3) k1 3